<div class="container">
    <div class="block-header" style="background: yellow ; width: 493px;">


        <ul class="nav nav-tabs header">
            <li class="nav-item">
                <a class="nav-link" routerLink="baitap1" routerLinkActive="active">Bài Tập 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="baitap2" routerLinkActive="active">Bài Tập 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="baitap3" routerLinkActive="active">Bài Tập 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="baitap4" routerLinkActive="active">Bài Tập 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="bai1" routerLinkActive="active">Home</a>
            </li>
        </ul>
    </div>
</div>
