<div class="container">
    
    <table class="table">
        <thead class="thead-dark">
            
                <tr>
                    <th scope="col">PIC</th>
                    <th scope="col">FULL NAME</th>
                    <th scope="col">BIRTH</th>
                    <th scope="col">GENDER</th>
                    <th scope="col">MARK</th>
                </tr>
            </thead>
        <tbody>
            <TR>
                <td><img src="{{students[0].photo}}" alt="students[0].fullname" height="auto" width="50px"></td>
                <td>{{students[0].fullname}}</td>
                <td>{{students[0].birth}}</td>
                <td>{{students[0].gender}}</td>
                <td>{{students[0].mark}}</td>
               
            </TR>
            <TR>
                <td><img src="{{students[1].photo}}" height="auto" alt="students[0].fullname" width="50px"></td>
                <td>{{students[1].fullname}}</td>    
                <td>{{students[1].birth}}</td>
                <td>{{students[1].gender}}</td>
                <td>{{students[1].mark}}</td>
                
        </TR> 
        <TR>
            <td><img src="{{students[2].photo}}" height="auto" alt="students[0].fullname" width="50px"></td>
            <td>{{students[2].fullname}}</td>
            <td>{{students[2].birth}}</td>
            <td>{{students[2].gender}}</td>
            <td>{{students[2].mark}}</td>
         
    </TR>
        </tbody>
      </table>
      
      </div>
